@import 'style';

footer {
  padding: 2rem;
  background-color: $blackColor;
  color: $bgColor;
  font-weight: bold;


  .container {
    justify-content: space-around;
    *:not(.footer-logo p):not(.footer-network .icon p) {
      text-transform: uppercase;

    }
    .footer-logo {
      align-items: center;
      div {
        background: url("../public/img/logo/Calque 100.png") center 0 no-repeat;
        background-size: cover;
        width: 9rem;
        height: 9rem;
        margin-right: 2rem;
      }
      p {
        align-self: center;
        white-space: pre-line;
        font-size: 2rem;
      }
    }

    .footer-nav {
      ul {
        justify-content: center;

        &:first-of-type {
          margin-right: 10rem;
        }

        li {
          margin: 1rem;
          p {
            font-size: 1.7rem;
          }
        }
      }
    }

    .footer-network {

      p {
        font-size: 1.7rem;
      }
      > *:not(:last-child) {
        margin-bottom: 2rem;
      }

      form {
        padding: .5rem;
        background-color: #34404e;

        input {
          outline: none;
          border: none;
          height: 3.5rem;
          width: 25rem;
          padding: 1rem;
          background-color: inherit;
          &::placeholder {
            color: $bgColor;
          }
        }

        button {
          border: none;
          border-left: 1px solid;
          height: 3.5rem;
          width: 4rem;
          background-color: inherit;
          color: $bgColor;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .icon {
        > * {
          margin-right: 2rem;
        }
      }
    }

  }
}