<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Numotheque</title>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/footer.css">
        <script src="js/jquery.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <header class="header container flex flex--row">
            <div class="header-menu">
                <div class="flex--column">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
                    <p>Menu</p>
                </div>
            </div>
            <div class="header-title">
                <h1>La numothèque Grenoble-Alpes</h1>
                <h2>Bibliothèque numérique de la métropole Grenoble-Alpes</h2>
            </div>
            <div class="header-search_account flex flex--row">
                <p>Rechercher</p>
                <a href=""></a>
                <a href="">Mon Compte</a>
            </div>
        </header>
        <main class="main container">
            <header class="main-header">
                <div class="main-header-toolbar">
                    <ul class="flex flex--row">
                        <h2>Les nouveautés</h2>
                        <li class="flex flex--column">
                            <div></div>
                            <p>Musique</p>
                        </li>
                        <li class="flex flex--column">
                            <div></div>
                            <p>Cinéma</p>
                        </li>
                        <li class="flex flex--column">
                            <div></div>
                            <p>Livre</p>
                        </li>
                        <li class="flex flex--column">
                            <div></div>
                            <p>Presse</p>
                        </li>
                        <li class="flex flex--column">
                            <div></div>
                            <p>Autoformation</p>
                        </li>
                        <li class="flex flex--column">
                            <div></div>
                            <p>Patrimoine</p>
                        </li>
                    </ul>

                </div>
            </header>
            <div class="main-view">
                <div class="main-view-column-long flex flex--column">
                    <div></div>
                </div>
                <div class="main-view-column-large flex flex--column">
                    <div></div>
                </div>
                <div class="main-view-column-long flex flex--column">
                    <div></div>
                </div>
                <div class="main-view-column-long flex flex--column">
                    <div></div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container flex flex--row">
                <div class="footer-logo flex flex--row">
                    <div></div>
                    <p>Bibliothèques
                        municipales de Grenoble</p>
                </div>
                <div class="footer-nav flex flex--row">
                    <ul class="flex flex--column">
                        <li><p>Aide</p></li>
                        <li><p>Accessibilité</p></li>
                        <li><p>Mode d'emploi</p></li>
                    </ul>
                    <ul class="flex flex--column">
                        <li><p>Contact</p></li>
                        <li><p>La Numothèque, c'est quoi?</p></li>
                        <li><p>Mentions Légales</p></li>
                    </ul>
                </div>
                <div class="footer-network">
                    <p>Newsletter</p>
                    <form action="newsletter.php" method="post">
                        <input type="email" placeholder="Votre courriel">
                        <button type="submit">Ok</button>
                    </form>
                    <div class="icon flex flex--row">
                        <p>Suivez-Nous</p>
                        <i class="fab fa-facebook-f"></i>
                        <p>d</p>
                        <i class="fas fa-rss"></i>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>